

html {
  font-family: "Poppins", sans-serif;
}

/* html,body {
  overflow-x: hidden;
} */

.custom-carousel-btn {
  width: 60px;
  height: 60px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.8;
}

.custom-carousel-btn span {
  width: 100%;
  height: 100%;
  background-size: 80% 80%;
}

@media (max-width: 768px) {
  .custom-carousel-btn {
    width: 40px;
    height: 40px;
  }
}

.custom-caption-bottom {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);     
  backdrop-filter: blur(5px);              
  -webkit-backdrop-filter: blur(5px);      
  padding: 20px;
  text-align: center;
  padding: 24px;
  width: 50%;
  margin: 0 auto;
}

.carousel-control-prev.custom-carousel-btn {
  left: 2rem; /* cách lề trái */
}

.carousel-control-next.custom-carousel-btn {
  right: 2rem; /* cách lề phải */
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}




.custom-card-hover {
  transition: all 0.3s ease;
}

.custom-card-hover:hover {
  box-shadow: 2px 2px 0 4px black;
}

.custom-card-hover:hover .btn-detail {
  color: white !important;
  background-color: black;
}

@media (min-width: 992px) {
  .navbar {
    padding-left: 7rem !important;
    padding-right: 5rem !important;
  }
}

.btn-addtocart {
  background-color: #6b4c3b; 
  color: white;
  border: 1px solid #6b4c3b;
  transition: background-color 0.3s, color 0.3s;
}

.btn-addtocart:hover {
  background-color: black;
  color: white;
}

main {
  padding-top: 100px;
}

.filter-btn.btn-outline-dark {
  background-color: white !important;
  color: black !important;
}
.filter-btn.btn-dark {
  background-color: black !important;
  color: white !important;
}

@media (max-width: 767.98px) {
  .cart-dropdown-mobile {
    right: -50px !important; 
  }
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="number"] {
  -moz-appearance: textfield;
}

.slick-prev:before,
.slick-next:before {
  font-size: 28px !important; 
  color: white;
}

.btn-outline-secondary {
  background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-secondary:hover {
  background-color: black;
}

.custom-li {
  font-size: 16px;
}

.nav-link {
  min-width: 90px;
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;  
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mySwiper {
  padding-bottom: 50px; 
  position: relative;
}
.custom-pagination {
  text-align: center;
  flex: 1;
}

.custom-pagination .swiper-pagination-bullet {
  background: #32323248;        
  opacity: 1;
  margin: 0 6px;           
  width: 6px;
  height: 6px;
  transition: background 0.3s;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: #323232;     
  transform: scale(1.2);   
}

.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  color: #fff;              
}

